* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h4{
  font-size:20px;
  font-weight: bold;
  font-family: Arial;
}
p{
  font-family: Arial;
}
.container {
  width: 1200px;
  margin: 200px auto;
}
.card{
  width: 700px;
  border-style: dashed;
}
.card-nav{
  background-color: green;
  text-align: center;
}
.card-header{
  padding:18px;
  width: 700px;
  text-align: center;
}
.card-header img{
  width: 664px;
  height: 330px;
  display:block
}
.card-img-description{
  padding-top:7px;
  height: 70px;
  background-color: lightgreen;
  color:white;
}
.card-body{
  padding:18px;
}

.card-body-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .card-body-title h4{
  display: inline;
}
.card-body-title p{
  display: inline;
  float: right;
} */
.card-body-content{
  background-color: moccasin;
  padding:5px;
}
.card-footer{
  background-color: darkgreen;
  text-align: right;
}
